.Mew-IMG {height:200px;
    width:300px; 
    margin: 10px 10px 10px 12px;}
    
.bold {font-weight:bold;}

.intfact {font-style:italic;
    margin:10px 5px 5px 12px;}

.text { border:1px solid lightpink;
    border-radius:2%;
    margin: 0px 14px 10px 14px;
    height:275px;}

li { list-style:none;
    margin:0px 0px 0px -28px;}

h3 {margin:10px 0px 0px 10px;}

.meta{margin:15px 5px 5px 13px;}

.card{ height:550px;
    width:325px;
    background-color:lightblue;
    margin:20px 10px 10px 10px;
    border: 10px solid pink;
    border-radius:5%;
    box-shadow:1px 5px 10px 1px;
}